# Hiearchical Data
* JSON

**Instructions:** This is an individual assignment, but you may discuss your code with your classmates.

**Problem type key and definition:**
* _Exercises_ are autograded on GitHub classroom
* _Problems_ are manually graded and often open ended without a single correct answer.
* _Stop and think_ prompts are not graded, and are provided to guide you.

Please see the README for instructions on how to submit and obtain the lab.

In [2]:
%load_ext autoreload
%autoreload 2


# Put all your solutions into Lab1_helper.py as this script which is autograded
import Lab5_helper 

from pathlib import Path
home = str(Path.home()) # all other paths are relative to this path. 
# This is not relevant to most people because I recommended you use my server, but
# change home to where you are storing everything. Again. Not recommended.

## Data
This data comes from the CORGIS Dataset Project: https://corgis-edu.github.io/corgis/json/cancer/

>Information about the rates of cancer deaths in each state is reported. The data shows the total rate as well as rates based on sex, age, and race. Rates are also shown for three specific kinds of cancer: breast cancer, colorectal cancer, and lung cancer.

In [3]:
import json
import requests

response = requests.get("https://corgis-edu.github.io/corgis/datasets/json/cancer/cancer.json")
data = json.loads(response.text)
print("Each record is a state:")
data[0]

Each record is a state:

{'State': 'Alabama',
 'Total': {'Rate': 214.2, 'Number': 71529.0, 'Population': 33387205.0},
 'Rates': {'Age': {'< 18': 2.0, '18-45': 18.5, '45-64': 244.7, '> 64': 1017.8},
  'Age and Sex': {'< 18': {'Female': 2.0, 'Male': 2.1},
   '18 - 45': {'Female': 20.1, 'Male': 16.8},
   '45 - 64': {'Female': 201.0, 'Male': 291.5},
   '> 64': {'Female': 803.6, 'Male': 1308.6}},
  'Race': {'White': 186.1,
   'White non-Hispanic': 187.5,
   'Black': 216.1,
   'Asian': 81.3,
   'Indigenous': 69.9,
   'Hispanic': 66.5},
  'Race and Sex': {'Female': {'White': 149.2,
    'White non-Hispanic': 150.2,
    'Black': 167.2,
    'Black non-Hispanic': 167.9,
    'Asian': 84.9,
    'Indigenous': 53.8,
    'Hispanic': 58.3},
   'Male': {'White': 237.1,
    'White non-Hispanic': 239.2,
    'Black': 297.9,
    'Black non-Hispanic': 299.2,
    'Asian': 75.7,
    'Indigenous': 88.3,
    'Hispanic': 77.1}}},
 'Types': {'Breast': {'Total': 27.4,
   'Age': {'18 - 44': 5.1, '45 - 64': 39.8, '> 64': 95.7},
   'Race': {'White': 20.5,
    'White non-Hispanic ': 20.6,
    'Black': 30.3,
    'Black non-Hispanic': 30.4,
    'Asian': 0.0,
    'Indigenous': 0.0,
    'Hispanic': 0.0}},
  'Colorectal': {'Total': 19.4,
   'Age and Sex': {'Female': {'18 - 44': 1.6, '45 - 64': 18.0, '> 64': 78.4},
    'Male': {'18 - 44': 2.3, '45 - 64': 28.7, '> 64': 106.0}},
   'Race': {'White': 15.9,
    'White non-Hispanic': 16.0,
    'Black': 24.4,
    'Black non-Hispanic': 24.5,
    'Asian': 0.0,
    'Indigenous': 0.0,
    'Hispanic': 5.7}},
  'Lung': {'Total': 66.4,
   'Age and Sex': {'Female': {'18 - 44': 1.7, '45 - 64': 54.8, '> 64': 221.7},
    'Male': {'18 - 44': 2.4, '45 - 64': 102.9, '> 64': 457.4}},
   'Race': {'White': 59.9,
    'White non-Hispanic': 60.4,
    'Black': 52.6,
    'Black non-Hispanic': 52.8,
    'Asian': 23.0,
    'Indigenous': 22.9,
    'Hispanic': 14.8}}}}

**Exercise 1:** What is the state with highest rate of cancer deaths? Write a function to return this

In [13]:
df = Lab4_helper.exercise_1(data)
df

          Pesticide Name  Count
140           1-Naphthol   3234
125              2,4,5-T    114
7                  2,4-D    114
126               2,4-DB    114
146  3-Hydroxycarbofuran  10058
..                   ...    ...
323        Triticonazole   3242
382          Uniconazole   1943
79             Vernolate   1307
148          Vinclozolin   8344
457             Zoxamide   2480

[424 rows x 2 columns]

## Do certain states tend to use one particular pesticide type over another?

**Exercise 2:** Return a dataframe that lists the top pesticide by state. Sort by state.

In [14]:
df = Lab4_helper.exercise_2(data['sampledata13'],data['resultsdata13'],dfs['pest_codes'])
df

   State Pesticide Name
0     CA     Heptachlor
3     CO       Dieldrin
4     FL       Dieldrin
8     KY       Diazinon
11    LA         Aldrin
5     MD       Dieldrin
6     MI       Dieldrin
9     MN       Diazinon
12    MO         Aldrin
13    NC         Aldrin
14    ND         Aldrin
15    NJ         Aldrin
16    NY      Malathion
7     OH       Dieldrin
1     TX     Heptachlor
2     WA     Heptachlor
10    WI       Diazinon

## How consistent are the top pesticides per commodity? How much does this change from state to state?

In [15]:
dfs['commodity_codes'].head()

  Commodity Code           Commodity Name  # of Samples Analyzed
0             AP                   Apples                    177
1             BB  Blueberries, Cultivated                    688
2             BN                  Bananas                    179
3             BR                 Broccoli                    712
4             BZ      Blueberries, Frozen                     19

**Exercise 3:** Return a dataframe that lists the top pesticide by commodity. Sort by Commodity Name.

In [16]:
df = Lab4_helper.exercise_3(data['sampledata13'],data['resultsdata13'],dfs['pest_codes'],dfs['commodity_codes'])
df

               Commodity Name Pesticide Name
0                     Bananas         Aldrin
10                   Broccoli       Diazinon
2                     Carrots         Aldrin
1                      Celery         Aldrin
3                Fish, Salmon         Aldrin
5                 Grape Juice         Aldrin
4                 Green Beans         Aldrin
11      Infant Formula, Dairy       Dieldrin
9   Infant Formula, Soy-based         Aldrin
6                  Nectarines         Aldrin
7                     Peaches         Aldrin
8               Summer Squash         Aldrin

**Exercise 4:** Return a dataframe that lists the top pesticide by commodity and state. Sort by commodity name.

In [17]:
df = Lab4_helper.exercise_4(data['sampledata13'],data['resultsdata13'],dfs['pest_codes'],dfs['commodity_codes'])
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df)

                Commodity Name State Pesticide Name
0                      Bananas    CA         Aldrin
1                      Bananas    CO         Aldrin
2                      Bananas    FL         Aldrin
3                      Bananas    MD         Aldrin
4                      Bananas    MI         Aldrin
5                      Bananas    NY         Aldrin
6                      Bananas    OH         Aldrin
7                      Bananas    TX         Aldrin
8                      Bananas    WA         Aldrin
9                      Bananas    WI         Aldrin
10                    Broccoli    CA         Aldrin
11                    Broccoli    CO         Aldrin
12                    Broccoli    FL         Aldrin
13                    Broccoli    MD         Aldrin
14                    Broccoli    MI         Aldrin
106                   Broccoli    NY       Diazinon
15                    Broccoli    OH         Aldrin
16                    Broccoli    TX         Aldrin
17                    Broccoli    WA         Aldrin
18                    Broccoli    WI         Aldrin
29                     Carrots    CA         Aldrin
30                     Carrots    CO         Aldrin
31                     Carrots    FL         Aldrin
32                     Carrots    MD         Aldrin
33                     Carrots    MI         Aldrin
34                     Carrots    NY         Aldrin
35                     Carrots    OH         Aldrin
36                     Carrots    TX         Aldrin
37                     Carrots    WA         Aldrin
38                     Carrots    WI         Aldrin
19                      Celery    CA         Aldrin
20                      Celery    CO         Aldrin
21                      Celery    FL         Aldrin
22                      Celery    MD         Aldrin
23                      Celery    MI         Aldrin
24                      Celery    NY         Aldrin
25                      Celery    OH         Aldrin
26                      Celery    TX         Aldrin
27                      Celery    WA         Aldrin
28                      Celery    WI         Aldrin
39                Fish, Salmon    CA         Aldrin
40                Fish, Salmon    CO         Aldrin
41                Fish, Salmon    FL         Aldrin
42                Fish, Salmon    MD         Aldrin
43                Fish, Salmon    MI         Aldrin
44                Fish, Salmon    NY         Aldrin
45                Fish, Salmon    OH         Aldrin
46                Fish, Salmon    TX         Aldrin
47                Fish, Salmon    WA         Aldrin
58                 Grape Juice    CA         Aldrin
59                 Grape Juice    CO         Aldrin
60                 Grape Juice    FL         Aldrin
61                 Grape Juice    MD         Aldrin
62                 Grape Juice    MI         Aldrin
63                 Grape Juice    NY         Aldrin
64                 Grape Juice    OH         Aldrin
65                 Grape Juice    TX         Aldrin
66                 Grape Juice    WA         Aldrin
48                 Green Beans    CA         Aldrin
49                 Green Beans    CO         Aldrin
50                 Green Beans    FL         Aldrin
51                 Green Beans    MD         Aldrin
52                 Green Beans    MI         Aldrin
53                 Green Beans    NC         Aldrin
54                 Green Beans    NY         Aldrin
55                 Green Beans    OH         Aldrin
56                 Green Beans    TX         Aldrin
57                 Green Beans    WA         Aldrin
107      Infant Formula, Dairy    CA       Dieldrin
108      Infant Formula, Dairy    CO       Dieldrin
109      Infant Formula, Dairy    FL       Dieldrin
110      Infant Formula, Dairy    MD       Dieldrin
111      Infant Formula, Dairy    MI       Dieldrin
112      Infant Formula, Dairy    NY       Dieldrin
113      Infant Formula, Dairy    OH       Dieldrin
114      Infant Formula, Dairy    TX       Dieldrin
115      Infant Formula, Dairy    WA       Dieldrin
97   Infant Formula, Soy-based    CA         Aldrin
98   Infant Formula, Soy-based    CO         Aldrin
99   Infant Formula, Soy-based    FL         Aldrin
100  Infant Formula, Soy-based    MD         Aldrin
101  Infant Formula, Soy-based    MI         Aldrin
102  Infant Formula, Soy-based    NY         Aldrin
103  Infant Formula, Soy-based    OH         Aldrin
104  Infant Formula, Soy-based    TX         Aldrin
105  Infant Formula, Soy-based    WA         Aldrin
67                  Nectarines    CA         Aldrin
68                  Nectarines    CO         Aldrin
69                  Nectarines    FL         Aldrin
70                  Nectarines    MD         Aldrin
71                  Nectarines    MI         Aldrin
72                  Nectarines    NY         Aldrin
73                  Nectarines    OH         Aldrin
74                  Nectarines    TX         Aldrin
75                  Nectarines    WA         Aldrin
76                  Nectarines    WI         Aldrin
77                     Peaches    CA         Aldrin
78                     Peaches    CO         Aldrin
79                     Peaches    FL         Aldrin
80                     Peaches    MD         Aldrin
81                     Peaches    MI         Aldrin
82                     Peaches    NC         Aldrin
83                     Peaches    NY         Aldrin
84                     Peaches    OH         Aldrin
85                     Peaches    TX         Aldrin
86                     Peaches    WA         Aldrin
87               Summer Squash    CA         Aldrin
88               Summer Squash    CO         Aldrin
89               Summer Squash    FL         Aldrin
90               Summer Squash    MD         Aldrin
91               Summer Squash    MI         Aldrin
92               Summer Squash    NY         Aldrin
93               Summer Squash    OH         Aldrin
94               Summer Squash    TX         Aldrin
95               Summer Squash    WA         Aldrin
96               Summer Squash    WI         Aldrin

**Problem 1:** Are there any exceptions to the top pesticide per commodity across states? If so, what are they?

**Your answer here**

**Problem 2:** Come up with three more questions you would want to know from this data? You should be able to answer them from this data. i.e., you must avoid asking questions where more data is needed. 

**Your answer here**

In [18]:
# Good job!
# Don't forget to push with ./submit.sh